.similar-movies {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     gap: 1rem;
     flex-shrink: 0;



     .similar-movie-card {
          width: clamp(100px, 160px, 220px);
          font-size: 1.2rem;
          background: #2f2f2f;
          margin-bottom: 1.5rem;
          border-radius: 3px;
          position: relative;



          .similar-movie-img {
               background-size: cover;
               background-position: center center;
               height: 100px;
               position: relative;
               cursor: pointer;

               .play-btn {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: opacity 0.2s;
                    height: 4rem;
               }

               &:hover {

                    .play-btn {
                         opacity: 1;
                    }
               }

          }

          .similiar-movie-body {
               padding: 1rem;
          }

     }
}