.netflix-modal {
     position: fixed;
     background-color: rgba(0, 0, 0, 0.669);
     color: white;
     // top: 0;
     // left: 0;
     // width: 100%;
     // height: 100%;
     z-index: 1000;

     overflow-y: scroll;

     &::-webkit-scrollbar {
          display: none;
          width: 0px;
     }
}


.movie-details {
     position: relative;
     height: fit-content;
     // max-height: 100%;
     margin: auto;
     width: fit-content;
     background: #141414;
     margin: 6rem auto;
     border-radius: 10px;
     width: clamp(200px, 600px, 100%);
     box-shadow: 0 0 20px black;

     &:-webkit-scrollbar {
          display: none;
          /* for Chrome, Safari, and Opera */
     }
}

.movie-trailer {
     border-radius: 5px;
     cursor: pointer;
     height: 300px;
     width: 100%;
     background-size: cover;
     background-position: center center;
     position: relative;

     .netflix-btn {
          position: relative;
          top: 100%;
          transform: translate(20%, -150%);
     }

}


.movie-details-body {
     padding: 2rem;
}