@import '../../../styles/variables.scss';

$difficulty-height : 3rem;

.minesweeper {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: 100%;
     position: relative;

     background-color: $dark-blue;

     .grid {
          background: $dark-grey;
          border: 10px solid;
          padding: 1rem;
          margin-top: $difficulty-height;
          border-color: #9e9d9b #676565 #6c6b64 #d8d5c9;

          // .info {
          //      border: 5px solid;
          //      padding: .5rem;
          //      background: $grey;
          //      border-color: #9e9d9b #676565 #6c6b64 #d8d5c9;
          //      margin-bottom: 1rem;
          //      display: flex;
          //      justify-content: space-between;
          //      align-items: center;

          //      li {
          //           border: 5px solid;
          //           border-color: #9e9d9b #676565 #6c6b64 #d8d5c9;
          //           height: 4rem;
          //           // vertical-align: middle;
          //           font-weight: bold;
          //           width: 8rem;
          //           font-size: 1.5rem;
          //           justify-content: center;
          //           padding: 1.5rem 1rem;
          //           display: flex;
          //           flex-direction: row;
          //           align-items: center;
          //           text-align: center;
          //      }

          //      .smiley {


          //           &:hover {
          //                transform: scale(1.05);
          //           }
          //      }

          //      img {
          //           height: 3rem;


          //           cursor: pointer;
          //      }
          // }

          .row {
               display: flex;

          }

          .tile {
               flex-grow: 10;
               height: 2.7rem;
               width: 2.7rem;
               display: flex;
               justify-content: center;
               align-items: center;
               border: 5px solid;
               background: #c6c6c6;
               border-color: #9e9d9b #676565 #6c6b64 #d8d5c9;
               font-weight: bold;
               font-size: 1.5rem;
          }

          .checked {
               background: #c6c6c6;
               border: 1px solid #808080;
          }

          .n1 {
               color: blue;
          }

          .n2 {
               color: green;
          }

          .n3 {
               color: red;
          }

          .n4 {
               color: rgb(30, 43, 163);
          }

          .n5 {
               color: rgb(57, 15, 15)
          }

          .n6 {
               color: rgb(232, 159, 24);
          }


     }




}

// .choose-difficulty {
//      position: relative;

//      z-index: 10000;

//      ul {
//           width: 100%;
//           cursor: pointer;
//           min-height: $difficulty-height;
//           padding-top: .7rem;
//           padding-left: 1rem;
//           background: white;
//           position: absolute;

//           &:hover {
//                li {
//                     display: block;
//                }
//           }
//      }

//      li {
//           padding: 1rem;
//           width: fit-content;
//           display: none;

//           &:hover {
//                background: $light-grey;
//           }
//      }



// }