@import '../../../styles/variables.scss';

$difficulty-height : 3rem;

.minesweeper {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: 100%;
     position: relative;

     background-color: $dark-blue;

     >div {
          border: 10px solid;
          padding: 1rem;
          border-color: #9e9d9b #676565 #6c6b64 #d8d5c9;
          background: $dark-grey;
     }



     .interface {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;


          .flags,
          .timer {
               background: black;
               color: red;
          }

          .smiley {
               cursor: pointer;

               &:hover {

                    background: rgb(158, 158, 158);
               }
          }

          .item {
               width: fit-content;
               margin: auto;
               border-radius: 2px solid;
               border: 4px solid;
               border-color: #9e9d9b #676565 #6c6b64 #d8d5c9;
               padding: 0.5rem 1rem;

               img {
                    height: 3rem;
               }
          }
     }

     .grid {
          padding-top: 2rem;

          .row {
               display: flex;

          }

          .tile {
               flex-grow: 10;
               height: 2.7rem;
               width: 2.7rem;
               display: flex;
               justify-content: center;
               align-items: center;
               border: 5px solid;
               background: #c6c6c6;
               border-color: #9e9d9b #676565 #6c6b64 #d8d5c9;
               font-weight: bold;
               font-size: 1.5rem;
          }

          .checked {
               background: #c6c6c6;
               border: 1px solid #808080;
          }

          .n1 {
               color: blue;
          }

          .n2 {
               color: green;
          }

          .n3 {
               color: red;
          }

          .n4 {
               color: rgb(30, 43, 163);
          }

          .n5 {
               color: rgb(57, 15, 15)
          }

          .n6 {
               color: rgb(232, 159, 24);
          }


     }




     .minesweeper-menu {
          width: fit-content;
          padding: 1rem;
          border-color: #9e9d9b #676565 #6c6b64 #d8d5c9;

          ul {
               display: none;
               background: white;
               position: absolute;


               li {
                    padding: 1rem 2rem;
                    cursor: pointer;

                    &:hover {
                         opacity: .6;
                    }
               }
          }

          &:hover {
               ul {
                    display: block;
               }
          }




     }


}