.toolbar-menu {
     display: flex;
     padding: 0 2rem;
     align-items: center;

     >img {
          height: 3rem;
          margin: auto;


     }

     .panel {
          position: absolute;
          border-top-right-radius: 10px;
          top: 0;
          left: 0;
          transform: translateY(-100%);
          width: fit-content;
          max-width: 100vw;
          OVERFLOW: HIDDEN;
          animation: panel-appear .3s;
          background: white;
          min-width: 300px;
          max-width: 100%;

          .items {
               display: flex;
               padding: 1rem;
               align-items: center;

               transition: background-color .2s;

               &:hover {
                    background: rgb(185, 184, 184);
               }

               img {
                    height: 4rem;
                    padding: 0 1rem;

               }
          }

     }
}