@import '../../../../../styles/variables.scss';

.netflix-btn {
     padding: 1rem 2rem 1rem 1.5rem;
     border-radius: 3px;
     font-weight: bold;
     text-shadow: none;
     color: black;
     display: inline-block;
     display: flex;
     width: fit-content;
     cursor: pointer;
     align-items: center;

     img {
          height: 3rem;
          margin-right: 1rem;
     }
}

.primary {
     background: $white;

     &:hover {
          background: $grey;
     }
}

.secondary {
     background: rgba(58, 58, 58, 0.920);
     color: $white;

     &:hover {
          background: rgba(58, 58, 58, 0.606);

     }
}

.little-btn {
     height: 3rem;
     cursor: pointer;

     &:hover {
          opacity: .8;
     }
}

.little-btn-primary {
     margin-bottom: .25rem;

}

.btn-add {
     height: 3.5rem;
}

.btn-remove {
     height: 3.4rem;
     margin-bottom: 0.1rem;
     position: relative;


}