@import '../../../../styles/variables.scss';

$card-width : 60rem;

.meteo {
     .widget {
          text-transform: capitalize;
          cursor: pointer;
          // gap: 1rem;
          padding-right: 1rem;


          .widget-icon {
               height: 5rem;
          }

          :nth-child(2n) {
               padding-right: 1rem;
          }

     }

     .panel {
          position: absolute;
          border-top-left-radius: 10px;
          top: 0;
          right: 0;
          transform: translateY(-100%);
          width: $card-width;
          max-width: 100vw;
          OVERFLOW: HIDDEN;
          animation: panel-appear .3s;

     }

     .meteo-card-container {
          display: flex;
          width: fit-content;
          transition: transform .6s ease;

     }

     .meteo-card-group {
          display: flex;
          align-items: center;
          position: relative;

          .carroussel-control {

               position: absolute;
               cursor: pointer;

               img {
                    height: 5rem;
               }

               transition: transform .2s ease;

               &:hover {
                    transform: scale(1.05)
               }
          }

          .carroussel-prev {
               padding: 1rem;

               img {
                    transform: rotate(180deg);


               }
          }

          .carroussel-next {
               right: 0;
               padding: 1rem;
          }
     }

     .meteo-card {

          padding: 2rem 0;
          background: $light-blue;
          width: $card-width;
          max-width: 100vw;
          font-weight: bold;
          color: $white;

          .card-header {

               h3,
               h4 {
                    text-align: center;
                    text-transform: capitalize;
                    white-space: nowrap;
               }

               h3 {
                    transform: translateY(-140%);
               }

               img {
                    height: 20rem;
                    margin: auto;
                    display: block;
               }


          }

          .card-body {
               ul {
                    display: grid;
                    max-width: 400px;
                    margin: auto;
                    grid-template-columns: 1fr 1fr;

                    li {
                         white-space: nowrap;
                         padding: 1rem 2rem;
                    }
               }
          }
     }
}

@media(max-width:400px) {


     .carroussel-control {
          top: 25%;
     }

     .meteo .meteo-card .card-body ul {
          grid-template-columns: initial;
          min-width: 100vw;
     }



}

@keyframes panel-appear {
     from {
          opacity: 0;

     }

     to {
          opacity: 1;

     }

}