.params {
     padding: 2rem;
     width: fit-content;
     margin: auto;

     .form-group {
          margin: 1rem 0;
          width: 100%;
          display: flex;
          justify-content: space-between;

          label {
               margin-right: 2rem;
          }

          select {
               padding: 0.2rem;
               font-size: 1em;
          }

     }
}