@import '../../../../styles/variables.scss';


.window {
     background: $white;
     position: absolute;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     top: 10%;
     left: 10%;
     border: 1px solid #00000026;
     z-index: 1000;


     resize: both;
     scrollbar-gutter: stable;
     max-height: 100%;
     overflow-y: overlay;

     &::-webkit-scrollbar {
          background: transparent;
          padding-top: 2rem;
          width: $scrollbar-width;
          z-index: 100;

          position: absolute !important;

     }

     &::-webkit-scrollbar-track {
          background: $grey;
          height: 20% !important;
          margin-top: 3.5rem;
          padding: 2rem;
          border: 1px solid $dark-grey;
     }

     &::-webkit-scrollbar-thumb {
          background: $dark-grey;
     }



}

.window-toolbar {
     min-width: fit-content;
     background: #e4f5ff;
     padding-left: 1rem;
     top: 0;
     left: 0;
     height: $window-toolbar-height;
     position: sticky;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     display: flex;
     justify-content: space-between;
     cursor: move;
     z-index: 10000;

     .title {
          font-size: 1.5rem;
          margin: auto 0;
          display: flex;
          align-items: center;
          gap: 1rem;

          img {
               height: 3rem;
          }
     }



     ul {
          display: flex;
          cursor: pointer;

          li {
               &:hover {
                    background: $light-grey;

               }

               img {
                    height: 1.5rem;
                    margin: 1rem 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

               }
          }

          .close {
               &:hover {
                    background: $red;
               }
          }
     }

}

.window-content {
     display: flex;
     justify-content: center;
     width: calc(100% - $scrollbar-width);

     min-height: calc(100% - $window-toolbar-height);

     &:has(.quizz) {

          background: $dark-blue;
     }

     &:has(.git, .quizz) {
          align-items: center;
     }

     &:has(.minesweeper, .params, .git) {
          width: 100%;
     }



}

.dragged {
     z-index: 1000;
}

.minimize {
     animation: minimize .4s ease forwards;
}

@keyframes minimize {

     100% {
          opacity: .4;
          top: 100%;
          left: 35%;
          transform: scale(0) translateX(-50%);
          display: none;
     }
}

.enlarge {
     animation: enlarge .4s ease forwards;
}

@keyframes enlarge {
     0% {
          opacity: .4;
          top: 100%;
          left: 35%;
          transform: scale(0) translateX(-50%);
          display: block;
     }

     100% {
          opacity: 1;
     }
}

.current-window {
     z-index: 100000;
}