.movie-list {
     margin: 3rem 0;
     position: relative;
     z-index: 1;
}

.swiper {
     overflow: visible !important;
     max-width: 88vw !important;
}

.btn-prev {
     width: 5vw;
     background: rgba(36, 36, 36, 0.881);
     height: 115px;
     top: 50%;
     left: 0;
     display: block;
     position: absolute;
     transform: translate(calc(-100% - 2vw), -50%);
     z-index: 10000;
     opacity: 0;
     display: flex;
     align-items: center;
     justify-content: flex-end;

     img {
          transform: rotate(90deg);
          height: 3vw;
          max-height: 100%;
     }

     &:hover {
          opacity: 1;
     }
}

.btn-next {
     width: 6vw;
     background: rgba(36, 36, 36, 0.881);
     height: 115px;
     top: 50%;
     right: 0;
     display: block;
     position: absolute;
     transform: translate(calc(100% + 2vw), -50%);
     z-index: 10000;
     opacity: 0;
     display: flex;
     align-items: center;
     justify-content: start;

     img {
          transform: rotate(-90deg);
          height: 3vw;
          max-height: 100%;

     }

     &:hover {
          opacity: 1;
     }
}

.movie-list-body {
     color: white;
     display: flex;
     align-items: center;
     height: 170px;
     position: relative;
     z-index: 1000;

}