.modal {
     position: absolute;
     top: 50%;
     left: 50%;
     padding: 2rem;
     transform: translate(-50%, -50%);
     background: white;
     width: fit-content;
     height: fit-content;
     box-shadow: 2px -2px 5px rgba(141, 141, 141, 0.032);
     min-width: 250px;
     color: black;

     .close {
          width: fit-content;
          position: absolute;
          right: 0;
          padding: 0 2rem;
          font-weight: bold;
          cursor: pointer;
     }

     .valid {
          cursor: pointer;
          border: 2px solid rgb(10, 11, 10);
          font-weight: bold;
          margin: auto;
          width: fit-content;
          padding: .5em 1em;

     }

     .valid,
     .close {
          transition: opacity .2s;

          &:hover {
               opacity: .4;
          }
     }

}

.trigger {
     cursor: pointer;
     width: fit-content;
     margin: auto;
}