@import './fonts.scss';
@import './reset.scss';
@import './animations.scss';
@import './variables.scss';

.app {
     display: flex;
     flex-direction: column;
     height: 100vh;
     background: $grey;
     font-family: 'Inter', sans-serif;
}