* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     list-style: none;
}

html {
     font-size: 10px;
}

body {
     font-size: 1.6rem;
     height: 100vh;
     width: 100vw;
     overflow: hidden;
}