$light-blue: #4bb9f6;
$blue: #8CBAFF;
$dark-blue: #4764FF;
$light-red: rgb(246, 67, 67);
$red: #FF5151;
$dark-red: rgb(135, 7, 7);
$light-green: green;
$green: #3BEA81;
$drak-green: green;
$light-grey: rgb(215, 213, 213);
$grey: rgb(197, 197, 197);
$dark-grey: grey;
$white: rgb(253, 253, 253);
$light-black: rgb(55, 55, 55);
$black: rgb(40, 40, 40);
$dark-black: rgb(29, 29, 29);
$desktop-icone-background :rgba(203, 213, 220, 0.26);
$box-shadow: 0px 0px 30px 10px rgba(36, 35, 35, 0.1);
$light-text-shadow: 1px 1px 1px black;
$toolbar-height: 5rem;

$scrollbar-width: 2rem;
$window-toolbar-height: 3.5rem;