@import '../../styles/variables.scss';

.toolbar {
     position: relative;
     z-index: 100000;
     background: $white;
     display: flex;
     justify-content: space-between;
     height: $toolbar-height;
}

.widgets-container {
     align-items: center;
     display: flex;
     font-size: 1.4rem;




}

.widget {
     padding: 0 1rem;
     display: flex;
     align-items: center;
     cursor: pointer;
     height: 100%;
     transition: background-color .2s;

     &:hover {
          background-color: $light-grey;
     }
}

.app-fullscreen {
     width: 6rem;

     img {
          margin: auto;
          height: 3rem;

     }
}

.clock {
     text-align: center;
}

.active-bar {
     height: 100%;
     display: flex;
     padding: 0 1rem;

     .active-bar-icone {
          cursor: pointer;
          height: 100%;
          width: 6rem;
          display: flex;
          align-items: center;

          img {
               margin: auto;
               height: 4rem;
               width: 4rem;
          }

          &:hover {
               background: $light-blue;
          }
     }
}