@import "../../../styles/variables.scss";

.curriculum {
     height: fit-content;
     width: 100%;
     background: $light-grey;
     position: relative;
}

.cv-header {}

.cv-body {

     .section {

          li {
               padding: 1rem;

               p:nth-of-type(1) {
                    font-size: 1.2rem;
               }

               p:nth-of-type(2) {
                    padding-top: .5rem;
               }
          }
     }

}

.cv-download {
     height: 5rem;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 5rem;
     position: sticky;
     left: 8%;
     top: 5rem;
     text-align: center;
     color: black;
     z-index: 1000;
     background: $green;
     border-radius: 100%;
     transition: transform 0.2s;


     img {
          height: 3rem;
     }

     &:hover {
          transform: scale(1.02);

          &:after {
               display: block;
               position: absolute;
               bottom: -50%;
               content: "Télécharger";

          }
     }
}

.cv-content {
     position: relative;
     max-width: 700px;
     padding: 6rem 4rem;
     background: $white;
     margin: 3rem auto;

     .description {
          text-align: center;
     }

     .cv-header {
          display: flex;
          justify-content: space-between;
     }



     .cv-body {

          margin-top: 50px;
          display: flex;
          flex-direction: column;

          .group {
               width: 100%;
               display: flex;
               padding: 2rem 0;

               div {
                    width: 30%;
                    font-size: 2rem;
                    text-decoration: underline;
               }

               section {
                    width: 70%;
               }
          }


     }



}