@import '../../../../../styles/variables.scss';


.netflix {


     .netflix-menu {
          display: flex;
          justify-content: space-between;
          position: absolute;
          width: calc(100% - $scrollbar-width);
          width: calc(100% - 3rem);
          margin: auto 1.5rem;
          background: rgba(0, 0, 0, 0);
          color: #e5e5e5;
          transform: translateY(-30%);
          font-size: .8em;
          text-shadow: 2px 2px 3px black;
          z-index: 100;

          div {
               display: flex;

               li {
                    transition: color 0.7s ease;
                    padding: .5rem 1rem;
                    cursor: pointer;
                    margin: auto;

                    &:hover {
                         color: $dark-grey;
                    }
               }
          }

          .netflix-logo {
               cursor: pointer;
               transition: opacity 0.7s ease;

               &:hover {
                    opacity: .7;
               }
          }

     }


}