.git {
     padding: 4rem 2rem;


     .btn {

          width: fit-content;
          padding: 1rem 2rem;
          border: 2px solid black;
          margin: 3rem auto 0;
          cursor: pointer;
          position: relative;

          &:after {
               display: block;
               position: absolute;
               top: 0;
               left: 0;
               width: 0%;
               height: 100%;
               content: "";
               background: black;
               transition: width 300ms ease;
               z-index: -1
          }

          &:hover {
               color: orange;

               &:after {
                    width: 100%;
               }


          }
     }
}