@import '../../../../../styles/variables.scss';

.netflix {
     .netflix-header {
          background-size: cover;

          height: calc(100% - $toolbar-height );
          position: relative;
          background-position: top center;
          text-shadow: 0px 0px 10px black;
          z-index: 20;

          .netflix-header-content {
               max-width: 500px;
               position: absolute;
               bottom: 5vh;
               margin-left: 3rem;

               >* {
                    margin: 2rem 0;
               }
          }
     }
}