@import '../../../../../styles/variables.scss';

.window {
     &:has(.watch-movie) {
          &::-webkit-scrollbar {
               width: 0;
          }
     }
}

.watch-movie {
     position: fixed;
     background-color: rgb(0, 0, 0);
     color: white;
     z-index: 1000000;
     height: calc(100vh - $toolbar-height );
     top: 0;
     left: 0;
     width: 100vw;

     &::-webkit-scrollbar {
          display: none;
          width: 0px;
     }
}

.close-modal {
     position: absolute;
     height: 4rem;
     z-index: 100;
     margin: 4rem 1rem;
     transform: rotate(-90deg);

     cursor: pointer;


}

.lecteur {
     top: 50%;
     position: relative;
     transform: translateY(-50%);
     aspect-ratio: 16/9;
     overflow: hidden;
     width: 100%;
     margin: auto;
     display: block;
     height: 100%;
}