@import '../../../styles/variables.scss';

.window-content {
     // display: initial;
}

.netflix {
     width: 100%;
     background: #141414;
     overflow-x: hidden;
     color: white;
     position: relative;
     //a voir
     height: 100%;
     //A voir

     .fake-content {
          height: 100%;
     }

     .netflix-btn-container {
          display: flex;
          gap: 2rem;
     }

     .movie-note {
          color: #46d369;
          font-weight: bold;
     }

}