@import '../../../styles/variables.scss';

.quizz {
     width: 700px;
     color: $white;
     max-width: 100%;
     padding: 2rem;
     background: $dark-blue;

     h1 {
          font-size: 10rem;
          text-align: center;
     }

     .quizz-form {

          min-width: 150px;

          .form-group {
               display: flex;
               flex-direction: column;
               margin: 2rem 0;
               gap: 1rem;

               label {
                    font-weight: bold;
               }

               select {
                    font-size: 1em;
               }
          }

          .valid {
               color: black;
          }
     }


     .wrapper {
          width: 100%;

     }

     .possibilities {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 2rem;
          padding: 2rem;
          color: $black;
     }

     .possibilitie {
          background: rgb(235, 233, 233);
          padding: 1rem 3rem;
          text-align: center;
          cursor: pointer;
     }

     .possibilitie.active {
          background: $blue;
     }

     .progress {
          text-align: end;
     }

     .quizz-overview {
          display: flex;
          margin: 2rem 0;
          width: 100%;
          background: $light-blue;
          justify-content: space-around;

          .quizz-item {
               height: 1rem;
               transition: width .5s ease;
               background: $blue;
               width: 100%;

               &:after {
                    position: relative;
                    display: block;
                    height: 100%;
                    width: 0%;
                    content: "";
                    transition: width .3s ease;
               }
          }

          .quizz-true {
               &:after {
                    background: $green;
                    width: 100%;
               }
          }

          .quizz-false {
               // background: $red;

               &:after {
                    background: $red;
                    width: 100%;


               }
          }
     }

     .btn {
          border: 4px solid $white;
          width: fit-content;
          padding: 1.5rem 2rem;
          cursor: pointer;
          margin: auto;
     }
}

.results-graph {
     height: 100px;
     width: 100px;
     background: $white;
     margin: 2rem auto;
     border-radius: 100%;
     overflow: hidden;
     // box-shadow: 2px 2px 2px black;
     position: relative;


     div {
          position: absolute;
          bottom: 0;
          z-index: 1;
          width: 100%;
          background: $green;
          animation: appearence 1s;
          color: black;


     }

     p {
          font-size: 3rem;
          color: black;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          z-index: 2;
     }
}

.results {
     position: relative;

     .backToMenu {
          position: absolute;
          font-weight: bold;
          text-align: center;
          font-size: 2rem;
          left: 10vw;
          cursor: pointer;

          img {
               transform: rotate(160deg);

          }

          &:hover {
               img {
                    transform: rotate(160deg) scale(1.05);
               }
          }
     }


     .questions-results {

          .question {
               background: $white;
               color: black;
               margin: 5rem 0;
               padding: 3rem;

               h5 {
                    text-decoration: underline;
                    margin: 0rem 3rem;

                    span {
                         height: 1rem;
                         width: 1rem;
                         display: inline-block;
                         margin-right: 0.5rem;
                    }
               }

               h4 {
                    margin: 0 4rem;

               }

               h3 {
                    margin: 2rem 0;
               }
          }
     }
}

@keyframes appearence {
     from {
          height: 0;
          color: rgba(0, 0, 0, 0);
     }

}