@import'../../styles/variables.scss';

.desktop {
     flex-grow: 100;
     background-size: cover;
     background-position: center center;
     max-height: calc(100% - $toolbar-height);
     display: flex;
     position: relative;
     flex-direction: column;
     flex-wrap: wrap;
     align-content: flex-start;

     .desktop-shortcut {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          // width: 12rem;
          // height: 10rem;
          height: 100%;
          width: 100%;
          z-index: 1;
          text-align: center;
          // margin: .5rem;
          gap: 1rem;
          color: white;
          text-shadow: $light-text-shadow ;

          * {
               pointer-events: none;
          }

          &:hover {
               background: $desktop-icone-background;

          }

          img {

               height: 5rem;
          }
     }

     .desktop-grid {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .row {
               display: flex;
          }

          .cell {
               flex-grow: 1;



          }
     }

}