.movie-card {
     min-width: 100px;
     width: 100%;
     transition: all .3s;
     margin: auto;
     cursor: pointer;
     position: relative;
     aspect-ratio: 16/9;
     height: 100%;
     padding: 3rem .5rem;
     position: relative;
     z-index: 1000;

     &:hover {
          padding: 0rem 0rem;
          width: 130%;
          height: 105%;
          transform: translate(-15%, -10%);
          z-index: 10000;
     }

     .movie-card-content {
          border-radius: 3px;
          // position: absolute;
          background-size: cover;
          background-position: center bottom;
          height: 100%;
          z-index: 100;
          width: 100%;
          transition: all .3s;

          .movie-card-btn {
               display: flex;
               gap: .5rem;
               width: 100%;
               justify-content: space-between;
               padding: .5rem 1.5rem;
               align-items: center;
          }

          .movie-card-hover-content {
               position: absolute;
               bottom: 0%;
               opacity: 0;
               background: black;
               width: 100%;
               height: fit-content;
               transition: all .2s;
               font-size: 1.1rem;

               .movie-note {
                    padding: 0 2rem;
               }

               .movie-categories {
                    display: flex;
                    padding: 0 2rem;



                    .movie-category {
                         padding: .5rem 0;

                         &:before {
                              content: '';
                              display: inline-block;
                              margin: .2rem .6rem;
                              height: .5rem;
                              width: .5rem;
                              background: rgb(179, 177, 177);
                              border-radius: 100%;
                         }
                    }

                    :nth-child(1) {
                         &:before {
                              display: none;
                         }
                    }
               }
          }

          &:hover {
               // width: 30rem;
               // height: 22rem;



               .movie-card-hover-content {
                    display: initial;
                    opacity: 1;
               }
          }
     }

     // &:hover {
     //      height: 100%;
     // }
}

.movie-card:first-child {

     // .movie-card-content {
     //      &:hover {
     //           left: 0;
     //           transform: translate(15%, 0%);
     //      }
     // }
}